.emailarea{
    width: 500px;
    margin: auto;
 }
 .input{
     width: 100%;
     padding: 8px 5px;
      outline-color: royalblue;
      border-radius: 5px;
      border: 1px solid gray;
      margin-top: 1px;
      box-sizing: border-box;  
 }
 .label{
     font-weight: 500;
     margin-top: 15px;
 }
 
 
 .formbutton{
     width: 100%;
     background-color: royalblue;
     color: white;
     padding: 10px 0;
     margin: 10px 0;
     font-size: medium;
     border: none;
     border-radius: 5px;
     cursor: pointer;

     
 
 }
 .formbutton:focus{
    outline: none;
 }

 h3{
    margin: 10px 0 0 0;
 }
 .loginfooter{
    text-align: center;
    font-weight: 600;
 }
 
 @media (min-width:320px) and (max-width:480px){
     .emailarea{
         width: 250px;
         margin: auto;
      }
 }